
node_modules




#move
#spotify
#//queue//
#loop/loopqueue
#quitar calamardo/camalardo/server => secret commands
#playlist
#array of recs
# skip y si hay un segundo valor es decir un numero que skipee esas veces
# 'OTE2MDY2NTU1NDA0NjM2MjEw.Yakvdg.fBMU9Wcpmm-8DmJ_kb1QThl7BP4'
